:root {
  --default-color: gainsboro;
  --valid-color: lightgreen;
  --invalid-color: salmon;
  --required-color: salmon;
  --standout-color: lightblue;
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
}

section {
  min-width: 400px;
  padding: 0 1rem;
}

h1, h2 {
  text-align: center;
}

form {
  display: grid;
  grid: auto-flow / 1fr 2fr;
  column-gap: 1rem;
  max-width: 600px;
}

label {
  text-align: right;
}

input, button {
  border: thin solid black;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

button {
  background-color: var(--default-color);
}

[data-state=dirty]:valid {
  border-color: var(--valid-color);
}

[data-state=dirty]:invalid {
  border-color: var(--invalid-color);
}

form > label {
  grid-column: 1 / 2;
}

form > button,
form > .validation-message {
  grid-column: 2 / 3;
}

form > .full-width {
  grid-column: 1 / 3;
}

.debug-section {
  background-color: var(--standout-color);
  box-shadow: 4px 4px 4px darkgray;
  border-radius: 1rem;
  padding: 1rem;
}

.validation-message {
  text-align: right;
  margin-bottom: 0.1rem;
  color: salmon;
}

.validation-message:empty {
  margin-bottom: 1.3rem;
}

.text-right {
  text-align: right;
}

.required {
  color: var(--required-color);
}

.event-sequence-visualizer .expand-toggle {
  background-color: inherit;
  text-align: inherit;
  font-weight: inherit;
  cursor: pointer;
  width: 100%;
  border: thin dotted transparent;
  border-radius: 0;
  padding 1rem 1.5rem;
}

.event-sequence-visualizer .expand-toggle:focus,
.event-sequence-visualizer .expand-toggle:active,
.event-sequence-visualizer .expand-toggle:focus-within {
  border-color: black;
}

.sequence-diagram.placeholder {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: var(--sequence-diagram-height, 250px);
  transition: height 0.1s linear;
}

.sequence-diagram.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear;
}

.sequence-diagram.placeholder img.loaded {
  opacity: 1;
}
