{{page-title "ember-validity-modifier"}}

<header>
  <h2 id="title">ember-validity-modifier</h2>
</header>

<main>
  {{outlet}}
</main>

<footer>
  <p><a href="https://github.com/sukima/ember-validity-modifier">Source and Documentation</a></p>
</footer>